.post{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2%;
  align-items: center;
  border: solid 2px rgba(243, 220, 220, 0.671);
  width: 50%;
}
.post ul {
  list-style: none;
}
.avatar{
  display: flex;
  flex-direction: row;
}